

header{
    img{
        width: 40px;
    }
    margin: 0px;
    padding: 0px;
    background-color: rgb(2, 2, 108);
}
.indice{
    li{
        a{
            font-size: 1.3rem;
            color: white;
            margin: 10px;
        }
    }
}