$blue:#251e65;

header{
    img{
        width: 40px;
    }
    margin: 0px;
    padding: 5px;
    background-color: $blue;
}
.indice{
    ul{
        display: flex;
        justify-content: flex-end;
        li{
            a{
                font-size: 1.3rem;
                color: white;
                margin: 10px;
                &:hover{
                    text-decoration: underline;
                    color: white;
                    font-size: 1.4rem;
                    padding: 5px;
                }
            }
    
        }
    }
}

footer{
    text-align: center;
    background-color: $blue;
    img{
        width: 50px;
        padding: 5px;
    }
}