
.grid-container-autora{
    margin-top: 30px;
    display: grid;
    grid-template-areas: 
    "texto foto"
    ;
    grid-template-columns: 40% 50%;
    grid-template-rows: 1000px;
    /*grid*/
    justify-content: center ;
    column-gap: 5px;

    .grid-texto-autora{
        grid-area: texto;
    }
    .grid-foto-autora{
        grid-area: foto;
        width: 100%;
        height: 100%;
    }
}